
<div class="entete">
  <h2 class="users">Liste des utilisateurs</h2>
  <button mat-flat-button color="primary" id="btn-add" (click)="openDialog()">Ajouter</button>
</div>

<mat-card class="cardWithShadow">
    <mat-card-content>
  
      <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" class="w-100">
        
         <ng-container matColumnDef="actif">
  <th mat-header-cell *matHeaderCellDef >
    Statut
  </th>
  <td mat-cell *matCellDef="let element">
    <mat-slide-toggle
      [checked]="element.actif"
      (change)="element.actif ? onDesActivate(element) : onActivate(element)">
      <span [style.color]="element.actif ? 'green' : 'red'">
        {{ element.actif ? 'Actif' : 'Inactif' }}
      </span>
    </mat-slide-toggle>
  </td>
</ng-container>

          

          <ng-container matColumnDef="prenom">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14 p-l-0">
              Prenom
            </th>
            <td mat-cell *matCellDef="let element" class="p-l-0">
              <div class="d-flex align-items-center">
                <div class="m-l-16">
                  <h6 class="f-s-14 f-w-600">
                    {{ element.prenom }}
                  </h6>
                </div>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14 p-l-0">
              Nom
            </th>
            <td mat-cell *matCellDef="let element" class="p-l-0">
              <div class="d-flex align-items-center">
                <div class="m-l-16">
                  <h6 class="f-s-14 f-w-600">
                    {{ element.nom }}
                  </h6>
                </div>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="numero">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14 p-l-0">
              Numéro
            </th>
            <td mat-cell *matCellDef="let element" class="p-l-0">
              <div class="d-flex align-items-center">
                <div class="m-l-16">
                  <h6 class="f-s-14 f-w-600">
                    {{ element.numero }}
                  </h6>
                </div>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="roleUtilisateur">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14 p-l-0">
              Rôle
            </th>
            <td mat-cell *matCellDef="let element" class="p-l-0">
              <div class="d-flex align-items-center">
                
                <div class="m-l-16">
                  <h6 class="f-s-14 f-w-600">
                    {{ element.roleUtilisateur }}
                  </h6>
                </div>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="nonStructure">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14 p-l-0">
              Nom Structure
            </th>
            <td mat-cell *matCellDef="let element" class="p-l-0">
              <div class="d-flex align-items-center">
                
                <div class="m-l-16">
                  <h6 class="f-s-14 f-w-600">
                    {{ element.nonStructure }}
                  </h6>
                </div>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="photo">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14 p-l-0">
              Photo
            </th>
            <td mat-cell *matCellDef="let element" class="p-l-0">
              <div class="d-flex align-items-center">
                
                <div class="m-l-16">
                  <h6 class="f-s-14 f-w-600">
                    {{ element.photo }}
                  </h6>
                </div>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14 p-l-0">
              Email
            </th>
            <td mat-cell *matCellDef="let element" class="p-l-0">
              <div class="d-flex align-items-center">
                
                <div class="m-l-16">
                  <h6 class="f-s-14 f-w-600">
                    {{ element.email }}
                  </h6>
                </div>
              </div>
            </td>
          </ng-container>

       
          
          <ng-container matColumnDef="refreshToken">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14 p-l-0">
              RefreshToken
            </th>
            <td mat-cell *matCellDef="let element" class="p-l-0">
              <div class="d-flex align-items-center">
                
                <div class="m-l-16">
                  <h6 class="f-s-14 f-w-600">
                    {{ element.refreshToken != null ? element.refreshToken : "Pas dispo"}}
                  </h6>
                </div>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="dateInscription">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14 p-l-0">
              Date Inscription
            </th>
            <td mat-cell *matCellDef="let element" class="p-l-0">
              <div class="d-flex align-items-center">
                
                <div class="m-l-16">
                  <h6 class="f-s-14 f-w-600">
                    {{ element.dateInscription }}
                  </h6>
                </div>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="dateModif">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14 p-l-0">
              Date de modification
            </th>
            <td mat-cell *matCellDef="let element" class="p-l-0">
              <div class="d-flex align-items-center">
                
                <div class="m-l-16">
                  <h6 class="f-s-14 f-w-600">
                    {{ element.dateModif != null ? element.dateModif : "Pas modifier" }}
                  </h6>
                </div>
              </div>
            </td>
          </ng-container>
  
          
  
          <!-- Symbol Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14"></th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
               
                <button mat-menu-item (click)="editElement(element)">
                  <mat-icon>edit</mat-icon>
                  <span>Modifier</span>
                </button>
                <button mat-menu-item (click)="onDelete(element)">
                  <mat-icon>delete</mat-icon>
                  <span>Supprimer</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>
                <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" align="center" >Aucune donnée trouvé </td>
      </tr>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20, 30, 50,  60, 70, 80, 90 , 100]"
        showFirstLastButtons
        aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>